<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Archivo&family=Poppins&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../public/styles/navbar.css">

<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Paramount Television Studios</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Television
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" target="_blank" href="/tweets/thealienist">The Alienist</a></li>
              <li><a class="dropdown-item" target="_blank" href="/tweets/defendingjacob">Defending Jacob</a></li>
              <li><a class="dropdown-item" target="_blank" href="/tweets/thehaunting">The Haunting of Bly Manor</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" target="_blank" href="/tweets/lookingforalaska">Looking for Alaska</a></li>
              <li><a class="dropdown-item" target="_blank" href="/tweets/madeforlove">Made For Love</a></li>
              <li><a class="dropdown-item" target="_blank" href="/tweets/homebeforedark">Home Before Dark</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" target="_blank" href="/tweets/jackryan">Jack Ryan</a></li>
              <li><a class="dropdown-item" target="_blank" href="/tweets/13reasonswhy">13 Reasons Why</a></li>
              <li><a class="dropdown-item" target="_blank" href="/tweets/paramounttelevisionstudios">Paramount Television Studios</a></li> 
            </ul>
          </li>
        </ul>
      </div>
    <p class="p-inline my-2 my-lg-0"><img class="navImage" src="../../public/images/keyart/ptvslogo.png" alt='logo'/></p>
  </div>
</nav>


 





 