<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo&family=Poppins&display=swap" rel="stylesheet">
    <title>Paramount Television Studios</title>
    
    <%- include('./partials/_nav_bar') %>

    <link rel="stylesheet" href=".././public/styles/home.css">
    <div class="top-container">
</head>
<body>
    <div id="slider">
        <figure>
        <img src="../public/images/carousel/BLY.png" alt>
        <img src="../public/images/carousel/13.png" alt>
        <img src="../public/images/carousel/AOD.png" alt>
        <img src="../public/images/carousel/HBD.png" alt>
        <img src="../public/images/carousel/DJ.png" alt>
        <img src="../public/images/carousel/MFL.png" alt>
        <img src="../public/images/carousel/BLY.png" alt>
        <img src="../public/images/carousel/LFA.png" alt>
        <img src="../public/images/carousel/JR.png" alt>
        </figure>
    </div>

    <div class="main">
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="../public/images/MFL.png"></div>
                  <div class="card_content">
                    <h2 class="card_title">Made For Love</h2>
                    <button class="btn card_btn"><a class="dropdown-item" target="_blank" href="/tweets/madeforlove">View</a></button>
                  </div>
                </div>
              </li>
            <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="../public/images/keyart/HBD.png"></div>
                  <div class="card_content">
                    <h2 class="card_title">Home Before Dark</h2>
                    <button class="btn card_btn"><a class="dropdown-item" target="_blank" href="/tweets/homebeforedark">View</a></button>
                  </div>
                </div>
              </li>
              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="../public/images/keyart/DJ.png"></div>
                  <div class="card_content">
                    <h2 class="card_title">Defending Jacob</h2>
                    <button class="btn card_btn"><a class="dropdown-item" target="_blank" href="/tweets/defendingjacob">View</a></button>
                  </div>
                </div>
              </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="../public/images/keyart/13RY.png"></div>
              <div class="card_content">
                <h2 class="card_title">13 Reasons Why</h2>
                <button class="btn card_btn"><a class="dropdown-item" target="_blank" href="/tweets/13reasonswhy">View</a></button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="../public/images/keyart/Bly.png"></div>
              <div class="card_content">
                <h2 class="card_title">The Haunting of Bly Manor</h2>
                <button class="btn card_btn"><a class="dropdown-item" target="_blank" href="/tweets/thehaunting">View</a></button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="../public/images/keyart/AOD.png"></div>
              <div class="card_content">
                <h2 class="card_title">The Alienist</h2>
                <button class="btn card_btn"><a class="dropdown-item" target="_blank" href="/tweets/thealienist">View</a></button>
              </div>
            </div>
          </li>
        
         
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="../public/images/keyart/JR.png"></div>
              <div class="card_content">
                <h2 class="card_title">Tom Clancy's Jack Ryan</h2>
                <button class="btn card_btn"><a class="dropdown-item" target="_blank" href="/tweets/jackryan">View</a></button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="../public/images/keyart/LFA.png"></div>
              <div class="card_content">
                <h2 class="card_title">Looking for Alaska</h2>
                <button class="btn card_btn"><a class="dropdown-item" target="_blank" href="/tweets/lookingforalaska">View</a></button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="../public/images/keyart/PTVS.png"></div>
              <div class="card_content">
                <h2 class="card_title">Paramount Television Studios</h2>
                <button class="btn card_btn"><a class="dropdown-item" target="_blank" href="/tweets/paramounttelevisionstudios">View</a></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
</body>
</html>