<!DOCTYPE html>
<html lang="en">
<head>

  
    <meta charset="UTF-8">

    <title>Paramount Television Studios</title>
    <hr style="margin-top: 0px; border-color:black">
 
    <div class="top-container">
    <h1>This is the home page!</h1>

   
    

<ul>
    <a class="nav-link active" target="_blank" href="/tweets/madeforlove">Made For Love</a>
    <a class="nav-link active" href="/tweets/thehaunting">The Haunting of Bly Manor</a>
    <a class="nav-link active" href="/tweets/lookingforalaska">Looking for Alaska</a>
    <a class="nav-link active" href="/tweets/defendingjacob">Defending Jacob</a>
    <a class="nav-link active" href="/tweets/thealienist">The Alienist</a>
    <a class="nav-link active" href="/tweets/13reasonswhy">13 Reasons Why</a>
    <a class="nav-link active" href="/tweets/homebeforedark">Home Before Dark</a>
    <a class="nav-link active" href="/tweets/jackryan">Jack Ryan</a>
    <a class="nav-link active" href="/tweets/paramounttelevisionstudios">Paramount Television Studios</a>
   
</ul>



</head>
<body>
    
</body>
</html>