<!DOCTYPE html>
<html lang="en">
<head>

  
    <meta charset="UTF-8">

    <title>Paramount Television Studios</title>
    <hr style="margin-top: 0px; border-color:black">
    <%- include('./partials/_nav_bar') %>
    <div class="top-container">
 



</head>
<body>

    <h1>This is the home page!</h1>

    

    
</body>
</html>