.navImage {
    height: 40px;
    display: flex;

    
}

.navbar-brand {
    font-family: 'Archivo', sans-serif;
}

.navbar-nav {
    font-family: 'Archivo', sans-serif;

}


@media only screen and (max-width: 992px){
    .navImage {
        display: none;
    }
}