.biocontainer {
    display: flex;
    flex-direction: row-reverse;
}

.showbox {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 30px; 
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: row;
}

.showimage {    
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    border-radius: 5px
}

.showbio {
    width: 80%;
    font-family: 'Poppins', sans-serif;
}

.title {
    font-family: 'Archivo', sans-serif;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
}
/*==================
 MEDIA QUERIES
 ==================*/
 @media (max-device-width: 375px) and (max-device-width : 812px) {
   
    .biocontainer {
        flex-direction: column-reverse;
        
    }
}