body {
  background-color: #000a3c;
  color: white;
}

.title {
  font-family: "Bebas Neue", cursive;
  margin-top: 80px;
  font-size: 70px;
  text-align: center;
}

h2 {
  font-family: "Bebas Neue", cursive;
}

.subtitle {
  font-family: "Archivo", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showimage {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 50%;
  border-radius: 5px;
}

.showbio {
  line-height: 2em;
  text-align: justify;
  font-family: "Archivo", sans-serif;
}

.showbio-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding-left: 150px;
  padding-right: 150px;
  max-width: 1500px;
}

@media only screen and (max-width: 992px) {
  .showbio-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
