.tweet_link {
    text-decoration: none;
    color: black;
}

.tweet_container {
overflow:scroll;
height: 700px;
display: flex;
flex-direction: column;
align-items: flex-end;
margin-right: 30px;



}

.hashtag_container {
    display: flex;

    flex-direction: column;

    margin-bottom: 50px;
    margin-right: 20px;
    
    margin-top: 10px;
}

.hashtags_card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 5px;
   

}

.hashtags_card-text {
 
    padding-left: 20px;
    padding-right: 20px;
   


}

#twitter_container {
    margin-top: 30px;
 
}
