<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paramount Television Studios</title>
        <%- include('../partials/_nav_bar') %>
        <link rel="stylesheet" href="../../public/styles/showpage.css">
    </head>
    <body>
        <div class="biocontainer">
        <%- include('../partials/_tweets_hashtags') %>
            <div class="showbox">
                <h1>Looking for Alaska</h1>
                <h3>Join the conversation</h3>
                <div container="socials">
                    <a href="https://twitter.com/intent/tweet?button_hashtag=LookingforAlaska&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #HomeBeforeDark</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <a href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @paramounttvs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <img class="showimage" src="../../public/images/showpage/LFASHOW.jpeg" alt>
                <p class="showbio">Looking For Alaska is an 8-episode limited series based on the John Green novel of the same name. It centers teenager Miles “Pudge” Halter (Charlie Plummer), as he enrolls in boarding school to try to gain a deeper perspective on life. He falls in love with Alaska Young (Kristine Froseth), and finds a group of loyal friends. But after an unexpected tragedy, Miles and his close friends attempt to make sense of what they’ve been through.</p>
            </div>
        </div>
    </body>
</html>

