<!DOCTYPE html>
<html lang="en">
<head>

  
    <meta charset="UTF-8">

    <title>Paramount Television Studios</title>
    <hr style="margin-top: 0px; border-color:black">
 
    <div class="top-container">
    <h1>This is the looking for alaska page!</h1>

    
    <%- include('../partials/_tweets_hashtags') %>

</head>
<body>
    
</body>
</html>

