<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo&family=Open+Sans&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="../../public/images/keyart/ptvslogo.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paramount Television Studios</title>
    <%- include('../partials/_nav_bar') %>
    <link rel="stylesheet" href="../../public/styles/showpage.css" />
  </head>
  <body>
    <div class="content">
      <h1 class="title">The Alienist</h1>
      <p class="subtitle">Join the conversation</p>
      <div>
        <a href="https://twitter.com/intent/tweet?button_hashtag=TheAlienist&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #TheAlienist</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
        <a
          href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw"
          class="twitter-mention-button"
          data-show-count="false"
          >Tweet to @paramounttvs</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
      <img class="showimage" src="../../public/images/showpage/AODSHOW.jpeg" alt>

      <div class="showbio-container">
        <h2>About the series</h2>
        <p class="showbio">
            In The Alienist: Angel of Darkness, Sara has opened her own private detective agency and is leading the charge in a brand-new case. She reunites with Dr. Kreizler, the formidable alienist, and John Moore, now a New York Times reporter, to find Ana Linares, the kidnapped infant daughter of the Spanish Consular. Their investigation leads them down a sinister path of murder and deceit, heading towards a dangerous and elusive killer. As in The Alienist, the series shines a light on the provocative issues of the era – the corruption of institutions, income inequality, yellow press sensationalism, and the role of women in society – themes that still resonate today.
        </p>
      </div>
      <%- include('../partials/_tweets_hashtags') %>
    </div>
  </body>
</html>



