<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paramount Television Studios</title>
        <%- include('../partials/_nav_bar') %>
        <link rel="stylesheet" href="../../public/styles/showpage.css">
    </head>
    <body>
        <div class="biocontainer">
        <%- include('../partials/_tweets_hashtags') %>
            <div class="showbox">
                <h1>The Alienist</h1>
                <h3>Join the conversation</h3>
                <div container="socials">
                  <a href="https://twitter.com/intent/tweet?button_hashtag=TheAlienist&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #HomeBeforeDark</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  <a href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @paramounttvs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <img class="showimage" src="../../public/images/showpage/AODSHOW.jpeg" alt>
                <p class="showbio">In The Alienist: Angel of Darkness, Sara has opened her own private detective agency and is leading the charge in a brand-new case. She reunites with Dr. Kreizler, the formidable alienist, and John Moore, now a New York Times reporter, to find Ana Linares, the kidnapped infant daughter of the Spanish Consular. Their investigation leads them down a sinister path of murder and deceit, heading towards a dangerous and elusive killer. As in The Alienist, the series shines a light on the provocative issues of the era – the corruption of institutions, income inequality, yellow press sensationalism, and the role of women in society – themes that still resonate today.</p>
            </div>
        </div>
    </body>
</html>

