<!DOCTYPE html>
<html lang="en">
<head>

  
    <meta charset="UTF-8">

    <title>Paramount Television Studios</title>
    <hr style="margin-top: 0px; border-color:black">
    <h1>The Alienist</h1>
    <a href="https://twitter.com/intent/tweet?button_hashtag=TheAlienist&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #HomeBeforeDark</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @paramounttvs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



<body>
  <%- include('../partials/_tweets_hashtags') %>


  <p>In The Alienist: Angel of Darkness, Sara has opened her own private detective agency and is leading the charge in a brand-new case. She reunites with Dr. Kreizler, the formidable alienist, and John Moore, now a New York Times reporter, to find Ana Linares, the kidnapped infant daughter of the Spanish Consular. Their investigation leads them down a sinister path of murder and deceit, heading towards a dangerous and elusive killer. As in The Alienist, the series shines a light on the provocative issues of the era – the corruption of institutions, income inequality, yellow press sensationalism, and the role of women in society – themes that still resonate today.</p>
</body>
</html>