<!DOCTYPE html>
<html lang="en">
<head>

  
    <meta charset="UTF-8">

    <title>Paramount Television Studios</title>
    <hr style="margin-top: 0px; border-color:black">
 
    <div class="top-container">
      <h1>Defending Jacob</h1>

    <a href="https://twitter.com/intent/tweet?button_hashtag=DefendingJacob&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #HomeBeforeDark</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @paramounttvs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



</head>
<body>
  <%- include('../partials/_tweets_hashtags') %>

  <p>A gripping, character-driven thriller based on the 2012 New York Times best-selling novel of the same name, and starring Chris Evans, Michelle Dockery, Jaeden Martell, Cherry Jones, Pablo Schreiber, Betty Gabriel and Sakina Jaffrey. The limited drama series unfolds around a shocking crime that rocks a small Massachusetts town and one family in particular, forcing an assistant district attorney to choose between his sworn duty to uphold justice and his unconditional love for his son.</p>
</body>
</html>