<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo&family=Open+Sans&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="../../public/images/keyart/ptvslogo.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paramount Television Studios</title>
    <%- include('../partials/_nav_bar') %>
    <link rel="stylesheet" href="../../public/styles/showpage.css" />
  </head>
  <body>
    <div class="content">
      <h1 class="title">DefendingJacob</h1>
      <p class="subtitle">Join the conversation</p>
      <div>
        <a href="https://twitter.com/intent/tweet?button_hashtag=DefendingJacob&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #DefendingJacob</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
        <a
          href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw"
          class="twitter-mention-button"
          data-show-count="false"
          >Tweet to @paramounttvs</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
      <img class="showimage" src="../../public/images/showpage/DJSHOW.jpeg" alt>

      <div class="showbio-container">
        <h2>About the series</h2>
        <p class="showbio">
            A gripping, character-driven thriller based on the 2012 New York Times best-selling novel of the same name, and starring Chris Evans, Michelle Dockery, Jaeden Martell, Cherry Jones, Pablo Schreiber, Betty Gabriel and Sakina Jaffrey. The limited drama series unfolds around a shocking crime that rocks a small Massachusetts town and one family in particular, forcing an assistant district attorney to choose between his sworn duty to uphold justice and his unconditional love for his son.
        </p>
      </div>
      <%- include('../partials/_tweets_hashtags') %>
    </div>
  </body>
</html>