<!DOCTYPE html>
<html lang="en">
<head>

  
    <meta charset="UTF-8">

    <title>Paramount Television Studios</title>
    <hr style="margin-top: 0px; border-color:black">
    <div class="top-container">
      <h1>Made For Love</h1>

      <a href="https://twitter.com/intent/tweet?button_hashtag=MadeForLove&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #HomeBeforeDark</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @paramounttvs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  
  

    <%- include('../partials/_tweets_hashtags') %>

<p> Made for Love is a darkly absurd and cynically poignant story of love and divorce. It follows Hazel Green (Cristin Milioti), a thirty-something woman on the run after 10 years in a suffocating marriage to Byron Gogol (Billy Magnussen), a controlling tech billionaire. Soon she discovers that her husband has implanted a monitoring device – the Made for Love chip – in her brain, allowing him to track her, watch her, and know her "emotional data" as she tries to regain her independence. Through the chip, Byron's able to watch Hazel's every move as she flees to her desert hometown to take refuge with her aging widower father Herbert (Ray Romano) and his synthetic partner, Diane. Noma Dumezweni plays “Fiffany Hodeck,” who supplies the brains behind the Made For Love technology, Dan Bakkedahl plays “Lyle Herringbone,” Byron’s company’s head of security, and Caleb Foote plays “Bennett Hobbes,” Byron’s assistant.</p>





   

    
</body>
</html>