<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Paramount Television Studios</title>
        <%- include('../partials/_nav_bar') %>
        <link rel="stylesheet" href="../../public/styles/showpage.css">
    </head>
    <body>
        <div class="biocontainer">
        <%- include('../partials/_tweets_hashtags') %>
            <div class="showbox">
                <h1>The Haunting of By Manor</h1>
                <h3>Join the conversation</h3>
                <div container="socials">
                  <a href="https://twitter.com/intent/tweet?button_hashtag=TheHauntingofBlyManor&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #HomeBeforeDark</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  <a href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @paramounttvs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <img class="showimage" src="../../public/images/showpage/BLYSHOW.jpeg" alt>
                <p class="showbio">From The Haunting of Hill House creator Mike Flanagan comes The Haunting of Bly Manor, the next highly-anticipated chapter of The Haunting anthology series, set in 1980s England. After an au pair’s tragic death, Henry Wingrave (Henry Thomas) hires a young American nanny (Victoria Pedretti) to care for his orphaned niece and nephew (Amelie Bea Smith, Benjamin Evan Ainsworth) who reside at Bly Manor with the estate’s chef Owen (Rahul Kohli), groundskeeper Jamie (Amelia Eve) and housekeeper, Mrs. Grose (T’Nia Miller). But all is not as it seems at the manor, and centuries of dark secrets of love and loss are waiting to be unearthed in this chilling gothic romance. At Bly Manor, dead doesn’t mean gone.</p>
            </div>
        </div>
    </body>
</html>
