<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo&family=Open+Sans&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="../../public/images/keyart/ptvslogo.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paramount Television Studios</title>
    <%- include('../partials/_nav_bar') %>
    <link rel="stylesheet" href="../../public/styles/showpage.css" />
  </head>
  <body>
    <div class="content">
      <h1 class="title">Tom Clancy's Jack Ryan</h1>
      <p class="subtitle">Join the conversation</p>
      <div>
        <a href="https://twitter.com/intent/tweet?button_hashtag=JackRyan&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #JackRyan</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
        <a
          href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw"
          class="twitter-mention-button"
          data-show-count="false"
          >Tweet to @paramounttvs</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
      <img class="showimage" src="../../public/images/showpage/JRSHOW.jpeg" alt>

      <div class="showbio-container">
        <h2>About the series</h2>
        <p class="showbio">
            After tracking a suspicious shipment in the Venezuelan jungle, Jack Ryan heads to South America to investigate. As Jack threatens to uncover a far-reaching conspiracy, the President of Venezuela launches a counter-attack that hits home, leading Jack on a mission spanning the US, UK, Russia, and Venezuela to unravel the President's plot and bring stability to a country on the brink of chaos.
        </p>
      </div>
      <%- include('../partials/_tweets_hashtags') %>
    </div>
  </body>
</html>