<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo&family=Open+Sans&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="../../public/images/keyart/ptvslogo.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paramount Television Studios</title>
    <%- include('../partials/_nav_bar') %>
    <link rel="stylesheet" href="../../public/styles/showpage.css" />
  </head>
  <body>
    <div class="content">
      <h1 class="title">Station 11</h1>
      <p class="subtitle">Join the conversation</p>
      <div>
        <a href="https://twitter.com/intent/tweet?button_hashtag=Station11&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #Station11</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
        <a
          href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw"
          class="twitter-mention-button"
          data-show-count="false"
          >Tweet to @paramounttvs</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
      <img class="showimage" src="../../public/images/showpage/S11SHOW.jpeg" alt>

      <div class="showbio-container">
        <h2>About the series</h2>
        <p class="showbio">
          A post-apocalyptic saga spanning multiple timelines, this limited drama series tells the stories of survivors of a devastating flu as they attempt to rebuild and reimagine the world anew while holding on to the best of what's been lost. STATION ELEVEN is based on the international bestseller of the same name by Emily St. John Mandel.
        </p>
      </div>
      <%- include('../partials/_tweets_hashtags') %>
    </div>
  </body>
</html>