<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Paramount Television Studios</title>
        <%- include('../partials/_nav_bar') %>
        <link rel="stylesheet" href="../../public/styles/showpage.css">
    </head>
    <body>
        <div class="biocontainer">
        <%- include('../partials/_tweets_hashtags') %>
            <div class="showbox">
                <h1>13 Reasons Why</h1>
                <h3>Join the conversation</h3>
                <div container="socials">
                  <a href="https://twitter.com/intent/tweet?button_hashtag=13ReasonsWhy&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #HomeBeforeDark</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  <a href="https://twitter.com/intent/tweet?screen_name=paramounttvs&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @paramounttvs</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <img class="showimage" src="../../public/images/showpage/13RYSHOW.jpeg" alt>
                <p class="showbio">In the series' final season, Liberty High School's Senior Class prepares for graduation. But before they say goodbye, they'll have to keep a dangerous secret buried and face heartbreaking choices that might alter their lives forever.</p>
            </div>
        </div>
    </body>
</html>
